body {
    /* make background with gradient*/
    /* background: linear-gradient(90deg, #000000 0%, #000000 50%, #000000 100%); */
    background: linear-gradient(45deg, #535396 0%, #72c272 30%, #c17474 100%);
    /* make gradient full screen */
    background-size: 400% 400%;
    


}


#logout:hover {
    text-decoration: underline;
}

li a {
    cursor: pointer;
}